fastapi==0.124.4
uvicorn[standard]

pydantic==2.12.5
python-dotenv==1.2.1

requests==2.32.5

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
cryptography

SQLAlchemy[asyncio]==2.0.45
asyncpg
psycopg2-binary

python-multipart
opencv-python-headless==4.12.0.88
